#camera, #photo, #avatar-photo{
  height: 150px;
  width: 200px;
  border: 3px double gray;
}

#photobuttons{
  text-align: center;
  display: inline;
}
.photobutton{
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}
.tablebutton{
  border-radius: 5px;
}
.tablephoto{
  height: 75px;
  width: 100px;
}
h3{
  text-align: center;
}
.center{
  text-align: center;
}
