h3 Spear and Retrieve:
.row
  .col-xs-7.col-xs-offset-1
    form.form-inline(name='groceryList', novalidate)
      .form-group
        label(for='title') Item Name
        input.form-control(type='text', name='title', ng-model='item.title')
      .form-group
        label(for='quantity') Quantity
        input.form-control(type='number', name='quantity', ng-model='item.quantity')
      .form-group
        label(for='location') Store Location
        input.form-control(type='text', name='location', ng-model='item.location')
      .form-group
        label(for='priority') Priority
        select.form-control(ng-model='item.priority', name='priority')
          option Need!
          option Want.
          option Would be nice.
  .col-xs-4
    img#photo(ng-src='{{item.image}}')
hr
.row
  .col-xs-12#photobuttons
    button.btn.btn-success.photobutton(ng-click='cameraOn()' ng-hide='camera'): i.fa.fa-camera &nbsp;&nbsp; Turn on Camera
    button.btn.btn-warning.photobutton(ng-click='takePhoto()' ng-show='camera'): i.fa.fa-bolt &nbsp;&nbsp; Take Picture
    button.btn.btn-danger.photobutton(ng-click='cameraOff()' ng-show='camera'): i.fa.fa-ban &nbsp;&nbsp; Turn off Camera
.row.center
  .col-xs-12
    #camera(ng-show='camera')
hr
.row
  .col-xs-12
    button.widebutton.btn.btn-info(ng-click='create(item)' ng-hide='editMode'): span Add Item &nbsp;&nbsp; 
      i.fa.fa-2x.fa-shopping-cart
    button.widebutton.btn.btn-warning(ng-click='update(item)' ng-show='editMode'): span Update Item &nbsp;&nbsp; 
      i.fa.fa-2x.fa-cutlery
    
.row
  .col-xs-12
    table.table.table-striped
      thead
        tr
          th Delete
          th Edit
          th Have?
          th Item
          th Quantity
          th Store Location
          th Priority
          th Photo
      tbody
        tr(ng-repeat='thing in items', ng-class='{strike: thing.isHave}')
          td: button.tablebutton.btn.btn-danger(ng-click='destroy(thing)'): i.fa.fa-trash.fa-xs
          td: button.tablebutton.btn.btn-warning(ng-click='edit(thing)'): i.fa.fa-pencil.fa-xs
          td: input(type='checkbox', ng-model='thing.isHave', ng-click='toggleIsHave(thing)')
          td {{thing.title}}
          td {{thing.quantity}}
          td {{thing.location}}
          td(ng-class='{lowpriority: thing.priority === "Would be nice.", medpriority: thing.priority === "Want.", highpriority: thing.priority === "Need!"}') {{thing.priority}}
          td: img.tablephoto(ng-src='{{thing.image}}')
