h3 Please pick up:

.row
  .col-xs-8.col-xs-offset-2
    form.form-inline(name='groceryList', novalidate)
      .form-group
        label(for='title') Item Name
        input.form-control(type='text', name='title', ng-model='item.title')
      .form-group
        label(for='quantity') Quantity
        input.form-control(type='number', name='quantity', ng-model='item.quantity')
      .form-group
        label(for='location') Store Location
        input.form-control(type='text', name='location', ng-model='item.location')
      .form-group
        label(for='priority') Priority
        select.form-control(ng-model='item.priority', name='priority')
          option Need!
          option Want.
          option Would be nice.
.row
  .col-xs-4.col-xs-offset-4
    button.btn.btn-success.btn-xs(ng-click='cameraOn()'): i.fa.fa-camera.fa-fw
    button.btn.btn-danger.btn-xs(ng-click='cameraOff()'): i.fa.fa-ban.fa-fw
    button.btn.btn-warning.btn-xs(ng-click='takePhoto()'): i.fa.fa-bolt.fa-fw
    button.btn.btn-default.btn-xs(ng-click='save(item)'): i.fa.fa-beer.fa-fw
.row
  .col-xs-4
    #camera
  .col-xs-4
    img#photo(ng-src='{{item.photo}}')
