h3 Please pick up:
.row
  .col-xs-7.col-xs-offset-1
    form.form-inline(name='groceryList', novalidate)
      .form-group
        label(for='title') Item Name
        input.form-control(type='text', name='title', ng-model='item.title')
      .form-group
        label(for='quantity') Quantity
        input.form-control(type='number', name='quantity', ng-model='item.quantity')
      .form-group
        label(for='location') Store Location
        input.form-control(type='text', name='location', ng-model='item.location')
      .form-group
        label(for='priority') Priority
        select.form-control(ng-model='item.priority', name='priority')
          option Need!
          option Want.
          option Would be nice.
  .col-xs-4
    img#photo(ng-src='{{item.image}}')
hr
.row
  .col-xs-12#photobuttons
    // add code for camera enable in groceries.js
    button.btn.btn-success.photobutton(ng-click='cameraOn()' ng-hide='camera'): i.fa.fa-camera &nbsp;&nbsp; Turn on Camera
    button.btn.btn-warning.photobutton(ng-click='takePhoto()' ng-show='camera'): i.fa.fa-bolt &nbsp;&nbsp; Take Picture
    button.btn.btn-danger.photobutton(ng-click='cameraOff()' ng-show='camera'): i.fa.fa-ban &nbsp;&nbsp; Turn off Camera
.row
  .col-xs-6.col-xs-offset-3
    #camera
hr
.row
  .col-xs-12
    button.btn.btn-default(ng-click='save(item)'): i.fa.fa-beer &nbsp;&nbsp; Save Item
.row
.row
  .col-xs-12
    table.table.table.striped
      thead
        tr
          th Delete
          th Edit
          th Item
          th Quantity
          th Store Location
          th Priority
          th Photo
      tbody
        tr(ng-repeat='thing in items')
          td: button.tablebutton.btn.btn-danger(ng-click='destroy(thing)'): i.fa.fa-trash.fa-xs
          td: button.tablebutton.btn.btn-warning(ng-click='edit(thing)'): i.fa.fa-pencil.fa-xs
          td {{thing.title}}
          td {{thing.quantity}}
          td {{thing.location}}
          td {{thing.priority}}
          td: img.tablephoto(ng-src='{{thing.photo}}')
